ProyectoFinal/ProyectoEscritorio/Connected Services/ModificacionWS/ModificacionWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices/" targetNamespace="http://webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CrearModificacion" type="tns:CrearModificacion" />
  <xs:element name="CrearModificacionResponse" type="tns:CrearModificacionResponse" />
  <xs:element name="EliminarModificacion" type="tns:EliminarModificacion" />
  <xs:element name="EliminarModificacionResponse" type="tns:EliminarModificacionResponse" />
  <xs:element name="ObtenerModificacionesDeTablero" type="tns:ObtenerModificacionesDeTablero" />
  <xs:element name="ObtenerModificacionesDeTableroResponse" type="tns:ObtenerModificacionesDeTableroResponse" />
  <xs:element name="ObtenerModificacionesDeUsuario" type="tns:ObtenerModificacionesDeUsuario" />
  <xs:element name="ObtenerModificacionesDeUsuarioResponse" type="tns:ObtenerModificacionesDeUsuarioResponse" />
  <xs:element name="SeleccionarModificacion" type="tns:SeleccionarModificacion" />
  <xs:element name="SeleccionarModificacionResponse" type="tns:SeleccionarModificacionResponse" />
  <xs:complexType name="ObtenerModificacionesDeTablero">
    <xs:sequence>
      <xs:element name="idTablero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerModificacionesDeTableroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:modificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTablero" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarModificacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarModificacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:modificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearModificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element name="idTablero" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearModificacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarModificacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarModificacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerModificacionesDeUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerModificacionesDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:modificacion" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>