ProyectoFinal/ProyectoEscritorio/Connected Services/ActividadWS/ActividadWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices/" targetNamespace="http://webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarActividad" type="tns:AgregarActividad" />
  <xs:element name="AgregarActividadResponse" type="tns:AgregarActividadResponse" />
  <xs:element name="EditarActividad" type="tns:EditarActividad" />
  <xs:element name="EditarActividadResponse" type="tns:EditarActividadResponse" />
  <xs:element name="EliminarActividad" type="tns:EliminarActividad" />
  <xs:element name="EliminarActividadResponse" type="tns:EliminarActividadResponse" />
  <xs:element name="EliminarActividadVirtual" type="tns:EliminarActividadVirtual" />
  <xs:element name="EliminarActividadVirtualResponse" type="tns:EliminarActividadVirtualResponse" />
  <xs:element name="EliminarActividades" type="tns:EliminarActividades" />
  <xs:element name="EliminarActividadesResponse" type="tns:EliminarActividadesResponse" />
  <xs:element name="ObtenerActividadesDeModulo" type="tns:ObtenerActividadesDeModulo" />
  <xs:element name="ObtenerActividadesDeModuloResponse" type="tns:ObtenerActividadesDeModuloResponse" />
  <xs:element name="SeleccionarActividad" type="tns:SeleccionarActividad" />
  <xs:element name="SeleccionarActividadResponse" type="tns:SeleccionarActividadResponse" />
  <xs:complexType name="SeleccionarActividad">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarActividadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:actividad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actividad">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idModulo" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="vencimiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividad">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarActividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="vencimiento" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="idModulo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarActividadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditarActividad">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="vencimiento" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditarActividadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerActividadesDeModulo">
    <xs:sequence>
      <xs:element name="idModulo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerActividadesDeModuloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:actividad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividadVirtual">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividadVirtualResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividades">
    <xs:sequence>
      <xs:element name="idModulo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividadesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>