ProyectoFinal/ProyectoEscritorio/Connected Services/tableroUsuarioWS/tableroUsuarioWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices/" targetNamespace="http://webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CrearTableroUsuario" type="tns:CrearTableroUsuario" />
  <xs:element name="CrearTableroUsuarioResponse" type="tns:CrearTableroUsuarioResponse" />
  <xs:element name="EliminarTableroUsuario" type="tns:EliminarTableroUsuario" />
  <xs:element name="EliminarTableroUsuarioResponse" type="tns:EliminarTableroUsuarioResponse" />
  <xs:element name="EliminarTableroUsuarios" type="tns:EliminarTableroUsuarios" />
  <xs:element name="EliminarTableroUsuariosResponse" type="tns:EliminarTableroUsuariosResponse" />
  <xs:element name="ObtenerTablerosDeUsuario" type="tns:ObtenerTablerosDeUsuario" />
  <xs:element name="ObtenerTablerosDeUsuarioResponse" type="tns:ObtenerTablerosDeUsuarioResponse" />
  <xs:element name="ObtenerUsuariosDeTablero" type="tns:ObtenerUsuariosDeTablero" />
  <xs:element name="ObtenerUsuariosDeTableroResponse" type="tns:ObtenerUsuariosDeTableroResponse" />
  <xs:element name="SeleccionarIdPorTableroYUsuario" type="tns:SeleccionarIdPorTableroYUsuario" />
  <xs:element name="SeleccionarIdPorTableroYUsuarioResponse" type="tns:SeleccionarIdPorTableroYUsuarioResponse" />
  <xs:element name="SeleccionarTableroUsuario" type="tns:SeleccionarTableroUsuario" />
  <xs:element name="SeleccionarTableroUsuarioResponse" type="tns:SeleccionarTableroUsuarioResponse" />
  <xs:complexType name="SeleccionarTableroUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarTableroUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tableroUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableroUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTablero" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTableroUsuarios">
    <xs:sequence>
      <xs:element name="idTablero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTableroUsuariosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTableroUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTableroUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarIdPorTableroYUsuario">
    <xs:sequence>
      <xs:element name="idTablero" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarIdPorTableroYUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearTableroUsuario">
    <xs:sequence>
      <xs:element name="idTablero" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearTableroUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerUsuariosDeTablero">
    <xs:sequence>
      <xs:element name="idTablero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerUsuariosDeTableroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerTablerosDeUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerTablerosDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tablero" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tablero">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>