ProyectoFinal/ProyectoEscritorio/Connected Services/tableroUsuarioWS/tableroUsuarioWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="tableroUsuarioWS" targetNamespace="http://webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/tableroUsuarioWS?xsd=1" namespace="http://webservices/" />
    </xsd:schema>
  </types>
  <message name="CrearTableroUsuario">
    <part name="parameters" element="tns:CrearTableroUsuario" />
  </message>
  <message name="CrearTableroUsuarioResponse">
    <part name="parameters" element="tns:CrearTableroUsuarioResponse" />
  </message>
  <message name="EliminarTableroUsuario">
    <part name="parameters" element="tns:EliminarTableroUsuario" />
  </message>
  <message name="EliminarTableroUsuarioResponse">
    <part name="parameters" element="tns:EliminarTableroUsuarioResponse" />
  </message>
  <message name="EliminarTableroUsuarios">
    <part name="parameters" element="tns:EliminarTableroUsuarios" />
  </message>
  <message name="EliminarTableroUsuariosResponse">
    <part name="parameters" element="tns:EliminarTableroUsuariosResponse" />
  </message>
  <message name="SeleccionarTableroUsuario">
    <part name="parameters" element="tns:SeleccionarTableroUsuario" />
  </message>
  <message name="SeleccionarTableroUsuarioResponse">
    <part name="parameters" element="tns:SeleccionarTableroUsuarioResponse" />
  </message>
  <message name="ObtenerTablerosDeUsuario">
    <part name="parameters" element="tns:ObtenerTablerosDeUsuario" />
  </message>
  <message name="ObtenerTablerosDeUsuarioResponse">
    <part name="parameters" element="tns:ObtenerTablerosDeUsuarioResponse" />
  </message>
  <message name="ObtenerUsuariosDeTablero">
    <part name="parameters" element="tns:ObtenerUsuariosDeTablero" />
  </message>
  <message name="ObtenerUsuariosDeTableroResponse">
    <part name="parameters" element="tns:ObtenerUsuariosDeTableroResponse" />
  </message>
  <message name="SeleccionarIdPorTableroYUsuario">
    <part name="parameters" element="tns:SeleccionarIdPorTableroYUsuario" />
  </message>
  <message name="SeleccionarIdPorTableroYUsuarioResponse">
    <part name="parameters" element="tns:SeleccionarIdPorTableroYUsuarioResponse" />
  </message>
  <portType name="tableroUsuarioWS">
    <operation name="CrearTableroUsuario">
      <input wsam:Action="http://webservices/tableroUsuarioWS/CrearTableroUsuarioRequest" message="tns:CrearTableroUsuario" />
      <output wsam:Action="http://webservices/tableroUsuarioWS/CrearTableroUsuarioResponse" message="tns:CrearTableroUsuarioResponse" />
    </operation>
    <operation name="EliminarTableroUsuario">
      <input wsam:Action="http://webservices/tableroUsuarioWS/EliminarTableroUsuarioRequest" message="tns:EliminarTableroUsuario" />
      <output wsam:Action="http://webservices/tableroUsuarioWS/EliminarTableroUsuarioResponse" message="tns:EliminarTableroUsuarioResponse" />
    </operation>
    <operation name="EliminarTableroUsuarios">
      <input wsam:Action="http://webservices/tableroUsuarioWS/EliminarTableroUsuariosRequest" message="tns:EliminarTableroUsuarios" />
      <output wsam:Action="http://webservices/tableroUsuarioWS/EliminarTableroUsuariosResponse" message="tns:EliminarTableroUsuariosResponse" />
    </operation>
    <operation name="SeleccionarTableroUsuario">
      <input wsam:Action="http://webservices/tableroUsuarioWS/SeleccionarTableroUsuarioRequest" message="tns:SeleccionarTableroUsuario" />
      <output wsam:Action="http://webservices/tableroUsuarioWS/SeleccionarTableroUsuarioResponse" message="tns:SeleccionarTableroUsuarioResponse" />
    </operation>
    <operation name="ObtenerTablerosDeUsuario">
      <input wsam:Action="http://webservices/tableroUsuarioWS/ObtenerTablerosDeUsuarioRequest" message="tns:ObtenerTablerosDeUsuario" />
      <output wsam:Action="http://webservices/tableroUsuarioWS/ObtenerTablerosDeUsuarioResponse" message="tns:ObtenerTablerosDeUsuarioResponse" />
    </operation>
    <operation name="ObtenerUsuariosDeTablero">
      <input wsam:Action="http://webservices/tableroUsuarioWS/ObtenerUsuariosDeTableroRequest" message="tns:ObtenerUsuariosDeTablero" />
      <output wsam:Action="http://webservices/tableroUsuarioWS/ObtenerUsuariosDeTableroResponse" message="tns:ObtenerUsuariosDeTableroResponse" />
    </operation>
    <operation name="SeleccionarIdPorTableroYUsuario">
      <input wsam:Action="http://webservices/tableroUsuarioWS/SeleccionarIdPorTableroYUsuarioRequest" message="tns:SeleccionarIdPorTableroYUsuario" />
      <output wsam:Action="http://webservices/tableroUsuarioWS/SeleccionarIdPorTableroYUsuarioResponse" message="tns:SeleccionarIdPorTableroYUsuarioResponse" />
    </operation>
  </portType>
  <binding name="tableroUsuarioWSPortBinding" type="tns:tableroUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CrearTableroUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarTableroUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarTableroUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SeleccionarTableroUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerTablerosDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerUsuariosDeTablero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SeleccionarIdPorTableroYUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="tableroUsuarioWS">
    <port name="tableroUsuarioWSPort" binding="tns:tableroUsuarioWSPortBinding">
      <soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/tableroUsuarioWS" />
    </port>
  </service>
</definitions>