ProyectoFinal/ProyectoEscritorio/Connected Services/UsuarioWS/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices/" targetNamespace="http://webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarUsuario" type="tns:AgregarUsuario" />
  <xs:element name="AgregarUsuarioResponse" type="tns:AgregarUsuarioResponse" />
  <xs:element name="EditarUsuario" type="tns:EditarUsuario" />
  <xs:element name="EditarUsuarioResponse" type="tns:EditarUsuarioResponse" />
  <xs:element name="Login" type="tns:Login" />
  <xs:element name="LoginResponse" type="tns:LoginResponse" />
  <xs:element name="SeleccionUsuarioPorEmail" type="tns:SeleccionUsuarioPorEmail" />
  <xs:element name="SeleccionUsuarioPorEmailCoincidencia" type="tns:SeleccionUsuarioPorEmailCoincidencia" />
  <xs:element name="SeleccionUsuarioPorEmailCoincidenciaResponse" type="tns:SeleccionUsuarioPorEmailCoincidenciaResponse" />
  <xs:element name="SeleccionUsuarioPorEmailResponse" type="tns:SeleccionUsuarioPorEmailResponse" />
  <xs:element name="SeleccionarUsuario" type="tns:SeleccionarUsuario" />
  <xs:element name="SeleccionarUsuarioResponse" type="tns:SeleccionarUsuarioResponse" />
  <xs:element name="comprobarExistenciaEmail" type="tns:comprobarExistenciaEmail" />
  <xs:element name="comprobarExistenciaEmailResponse" type="tns:comprobarExistenciaEmailResponse" />
  <xs:complexType name="SeleccionUsuarioPorEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionUsuarioPorEmailResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="contra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobarExistenciaEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobarExistenciaEmailResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditarUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionUsuarioPorEmailCoincidencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionUsuarioPorEmailCoincidenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>