ProyectoFinal/ProyectoEscritorio/Connected Services/ComentarioWS/ComentarioWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices/" targetNamespace="http://webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CrearComentario" type="tns:CrearComentario" />
  <xs:element name="CrearComentarioResponse" type="tns:CrearComentarioResponse" />
  <xs:element name="EliminarComentario" type="tns:EliminarComentario" />
  <xs:element name="EliminarComentarioResponse" type="tns:EliminarComentarioResponse" />
  <xs:element name="ObtenerComentariosDeActividad" type="tns:ObtenerComentariosDeActividad" />
  <xs:element name="ObtenerComentariosDeActividadResponse" type="tns:ObtenerComentariosDeActividadResponse" />
  <xs:element name="ObtenerComentariosDeUsuario" type="tns:ObtenerComentariosDeUsuario" />
  <xs:element name="ObtenerComentariosDeUsuarioResponse" type="tns:ObtenerComentariosDeUsuarioResponse" />
  <xs:element name="SeleccionarComentario" type="tns:SeleccionarComentario" />
  <xs:element name="SeleccionarComentarioResponse" type="tns:SeleccionarComentarioResponse" />
  <xs:complexType name="ObtenerComentariosDeActividad">
    <xs:sequence>
      <xs:element name="idActividad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerComentariosDeActividadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idActividad" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="idActividad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerComentariosDeUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerComentariosDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarComentario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarComentario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarComentarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comentario" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>