ProyectoFinal/ProyectoEscritorio/Connected Services/equipoWS/EquipoWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="EquipoWS" targetNamespace="http://webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/EquipoWS?xsd=1" namespace="http://webservices/" />
    </xsd:schema>
  </types>
  <message name="AgregarEquipo">
    <part name="parameters" element="tns:AgregarEquipo" />
  </message>
  <message name="AgregarEquipoResponse">
    <part name="parameters" element="tns:AgregarEquipoResponse" />
  </message>
  <message name="EliminarEquipo">
    <part name="parameters" element="tns:EliminarEquipo" />
  </message>
  <message name="EliminarEquipoResponse">
    <part name="parameters" element="tns:EliminarEquipoResponse" />
  </message>
  <message name="EditarEquipo">
    <part name="parameters" element="tns:EditarEquipo" />
  </message>
  <message name="EditarEquipoResponse">
    <part name="parameters" element="tns:EditarEquipoResponse" />
  </message>
  <message name="SeleccionarEquipo">
    <part name="parameters" element="tns:SeleccionarEquipo" />
  </message>
  <message name="SeleccionarEquipoResponse">
    <part name="parameters" element="tns:SeleccionarEquipoResponse" />
  </message>
  <portType name="EquipoWS">
    <operation name="AgregarEquipo">
      <input wsam:Action="http://webservices/EquipoWS/AgregarEquipoRequest" message="tns:AgregarEquipo" />
      <output wsam:Action="http://webservices/EquipoWS/AgregarEquipoResponse" message="tns:AgregarEquipoResponse" />
    </operation>
    <operation name="EliminarEquipo">
      <input wsam:Action="http://webservices/EquipoWS/EliminarEquipoRequest" message="tns:EliminarEquipo" />
      <output wsam:Action="http://webservices/EquipoWS/EliminarEquipoResponse" message="tns:EliminarEquipoResponse" />
    </operation>
    <operation name="EditarEquipo">
      <input wsam:Action="http://webservices/EquipoWS/EditarEquipoRequest" message="tns:EditarEquipo" />
      <output wsam:Action="http://webservices/EquipoWS/EditarEquipoResponse" message="tns:EditarEquipoResponse" />
    </operation>
    <operation name="SeleccionarEquipo">
      <input wsam:Action="http://webservices/EquipoWS/SeleccionarEquipoRequest" message="tns:SeleccionarEquipo" />
      <output wsam:Action="http://webservices/EquipoWS/SeleccionarEquipoResponse" message="tns:SeleccionarEquipoResponse" />
    </operation>
  </portType>
  <binding name="EquipoWSPortBinding" type="tns:EquipoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AgregarEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EditarEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SeleccionarEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EquipoWS">
    <port name="EquipoWSPort" binding="tns:EquipoWSPortBinding">
      <soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/EquipoWS" />
    </port>
  </service>
</definitions>