ProyectoFinal/ProyectoEscritorio/Connected Services/ActividadUsuarioWS/ActividadUsuarioWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices/" targetNamespace="http://webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarActividadUsuario" type="tns:AgregarActividadUsuario" />
  <xs:element name="AgregarActividadUsuarioResponse" type="tns:AgregarActividadUsuarioResponse" />
  <xs:element name="EliminarActividadUsuario" type="tns:EliminarActividadUsuario" />
  <xs:element name="EliminarActividadUsuarioResponse" type="tns:EliminarActividadUsuarioResponse" />
  <xs:element name="EliminarActividadUsuarios" type="tns:EliminarActividadUsuarios" />
  <xs:element name="EliminarActividadUsuariosResponse" type="tns:EliminarActividadUsuariosResponse" />
  <xs:element name="ObtenerActividadesDeUsuario" type="tns:ObtenerActividadesDeUsuario" />
  <xs:element name="ObtenerActividadesDeUsuarioResponse" type="tns:ObtenerActividadesDeUsuarioResponse" />
  <xs:element name="ObtenerUsuariosDeActividad" type="tns:ObtenerUsuariosDeActividad" />
  <xs:element name="ObtenerUsuariosDeActividadResponse" type="tns:ObtenerUsuariosDeActividadResponse" />
  <xs:element name="SeleccionarActividadUsuario" type="tns:SeleccionarActividadUsuario" />
  <xs:element name="SeleccionarActividadUsuarioResponse" type="tns:SeleccionarActividadUsuarioResponse" />
  <xs:complexType name="ObtenerUsuariosDeActividad">
    <xs:sequence>
      <xs:element name="idActividad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerUsuariosDeActividadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarActividadUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarActividadUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:actividadUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actividadUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="idActividad" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividadUsuarios">
    <xs:sequence>
      <xs:element name="idActvidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividadUsuariosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarActividadUsuario">
    <xs:sequence>
      <xs:element name="idActividad" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarActividadUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividadUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarActividadUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerActividadesDeUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerActividadesDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:actividad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actividad">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idModulo" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="vencimiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>