ProyectoFinal/ProyectoEscritorio/Connected Services/ActividadUsuarioWS/ActividadUsuarioWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ActividadUsuarioWS" targetNamespace="http://webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/ActividadUsuarioWS?xsd=1" namespace="http://webservices/" />
    </xsd:schema>
  </types>
  <message name="AgregarActividadUsuario">
    <part name="parameters" element="tns:AgregarActividadUsuario" />
  </message>
  <message name="AgregarActividadUsuarioResponse">
    <part name="parameters" element="tns:AgregarActividadUsuarioResponse" />
  </message>
  <message name="EliminarActividadUsuario">
    <part name="parameters" element="tns:EliminarActividadUsuario" />
  </message>
  <message name="EliminarActividadUsuarioResponse">
    <part name="parameters" element="tns:EliminarActividadUsuarioResponse" />
  </message>
  <message name="EliminarActividadUsuarios">
    <part name="parameters" element="tns:EliminarActividadUsuarios" />
  </message>
  <message name="EliminarActividadUsuariosResponse">
    <part name="parameters" element="tns:EliminarActividadUsuariosResponse" />
  </message>
  <message name="SeleccionarActividadUsuario">
    <part name="parameters" element="tns:SeleccionarActividadUsuario" />
  </message>
  <message name="SeleccionarActividadUsuarioResponse">
    <part name="parameters" element="tns:SeleccionarActividadUsuarioResponse" />
  </message>
  <message name="ObtenerActividadesDeUsuario">
    <part name="parameters" element="tns:ObtenerActividadesDeUsuario" />
  </message>
  <message name="ObtenerActividadesDeUsuarioResponse">
    <part name="parameters" element="tns:ObtenerActividadesDeUsuarioResponse" />
  </message>
  <message name="ObtenerUsuariosDeActividad">
    <part name="parameters" element="tns:ObtenerUsuariosDeActividad" />
  </message>
  <message name="ObtenerUsuariosDeActividadResponse">
    <part name="parameters" element="tns:ObtenerUsuariosDeActividadResponse" />
  </message>
  <portType name="ActividadUsuarioWS">
    <operation name="AgregarActividadUsuario">
      <input wsam:Action="http://webservices/ActividadUsuarioWS/AgregarActividadUsuarioRequest" message="tns:AgregarActividadUsuario" />
      <output wsam:Action="http://webservices/ActividadUsuarioWS/AgregarActividadUsuarioResponse" message="tns:AgregarActividadUsuarioResponse" />
    </operation>
    <operation name="EliminarActividadUsuario">
      <input wsam:Action="http://webservices/ActividadUsuarioWS/EliminarActividadUsuarioRequest" message="tns:EliminarActividadUsuario" />
      <output wsam:Action="http://webservices/ActividadUsuarioWS/EliminarActividadUsuarioResponse" message="tns:EliminarActividadUsuarioResponse" />
    </operation>
    <operation name="EliminarActividadUsuarios">
      <input wsam:Action="http://webservices/ActividadUsuarioWS/EliminarActividadUsuariosRequest" message="tns:EliminarActividadUsuarios" />
      <output wsam:Action="http://webservices/ActividadUsuarioWS/EliminarActividadUsuariosResponse" message="tns:EliminarActividadUsuariosResponse" />
    </operation>
    <operation name="SeleccionarActividadUsuario">
      <input wsam:Action="http://webservices/ActividadUsuarioWS/SeleccionarActividadUsuarioRequest" message="tns:SeleccionarActividadUsuario" />
      <output wsam:Action="http://webservices/ActividadUsuarioWS/SeleccionarActividadUsuarioResponse" message="tns:SeleccionarActividadUsuarioResponse" />
    </operation>
    <operation name="ObtenerActividadesDeUsuario">
      <input wsam:Action="http://webservices/ActividadUsuarioWS/ObtenerActividadesDeUsuarioRequest" message="tns:ObtenerActividadesDeUsuario" />
      <output wsam:Action="http://webservices/ActividadUsuarioWS/ObtenerActividadesDeUsuarioResponse" message="tns:ObtenerActividadesDeUsuarioResponse" />
    </operation>
    <operation name="ObtenerUsuariosDeActividad">
      <input wsam:Action="http://webservices/ActividadUsuarioWS/ObtenerUsuariosDeActividadRequest" message="tns:ObtenerUsuariosDeActividad" />
      <output wsam:Action="http://webservices/ActividadUsuarioWS/ObtenerUsuariosDeActividadResponse" message="tns:ObtenerUsuariosDeActividadResponse" />
    </operation>
  </portType>
  <binding name="ActividadUsuarioWSPortBinding" type="tns:ActividadUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AgregarActividadUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarActividadUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarActividadUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SeleccionarActividadUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerActividadesDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerUsuariosDeActividad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ActividadUsuarioWS">
    <port name="ActividadUsuarioWSPort" binding="tns:ActividadUsuarioWSPortBinding">
      <soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/ActividadUsuarioWS" />
    </port>
  </service>
</definitions>