ProyectoFinal/ProyectoEscritorio/Connected Services/tableroWS/TableroWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices/" targetNamespace="http://webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarTablero" type="tns:AgregarTablero" />
  <xs:element name="AgregarTableroResponse" type="tns:AgregarTableroResponse" />
  <xs:element name="EditarTablero" type="tns:EditarTablero" />
  <xs:element name="EditarTableroResponse" type="tns:EditarTableroResponse" />
  <xs:element name="EliminarTablero" type="tns:EliminarTablero" />
  <xs:element name="EliminarTableroResponse" type="tns:EliminarTableroResponse" />
  <xs:element name="SeleccionarTablero" type="tns:SeleccionarTablero" />
  <xs:element name="SeleccionarTableroResponse" type="tns:SeleccionarTableroResponse" />
  <xs:complexType name="AgregarTablero">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarTableroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarTablero">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarTableroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tablero" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tablero">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTablero">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTableroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditarTablero">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditarTableroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>