ProyectoFinal/ProyectoEscritorio/Connected Services/tableroWS/TableroWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TableroWS" targetNamespace="http://webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/TableroWS?xsd=1" namespace="http://webservices/" />
    </xsd:schema>
  </types>
  <message name="AgregarTablero">
    <part name="parameters" element="tns:AgregarTablero" />
  </message>
  <message name="AgregarTableroResponse">
    <part name="parameters" element="tns:AgregarTableroResponse" />
  </message>
  <message name="EliminarTablero">
    <part name="parameters" element="tns:EliminarTablero" />
  </message>
  <message name="EliminarTableroResponse">
    <part name="parameters" element="tns:EliminarTableroResponse" />
  </message>
  <message name="EditarTablero">
    <part name="parameters" element="tns:EditarTablero" />
  </message>
  <message name="EditarTableroResponse">
    <part name="parameters" element="tns:EditarTableroResponse" />
  </message>
  <message name="SeleccionarTablero">
    <part name="parameters" element="tns:SeleccionarTablero" />
  </message>
  <message name="SeleccionarTableroResponse">
    <part name="parameters" element="tns:SeleccionarTableroResponse" />
  </message>
  <portType name="TableroWS">
    <operation name="AgregarTablero">
      <input wsam:Action="http://webservices/TableroWS/AgregarTableroRequest" message="tns:AgregarTablero" />
      <output wsam:Action="http://webservices/TableroWS/AgregarTableroResponse" message="tns:AgregarTableroResponse" />
    </operation>
    <operation name="EliminarTablero">
      <input wsam:Action="http://webservices/TableroWS/EliminarTableroRequest" message="tns:EliminarTablero" />
      <output wsam:Action="http://webservices/TableroWS/EliminarTableroResponse" message="tns:EliminarTableroResponse" />
    </operation>
    <operation name="EditarTablero">
      <input wsam:Action="http://webservices/TableroWS/EditarTableroRequest" message="tns:EditarTablero" />
      <output wsam:Action="http://webservices/TableroWS/EditarTableroResponse" message="tns:EditarTableroResponse" />
    </operation>
    <operation name="SeleccionarTablero">
      <input wsam:Action="http://webservices/TableroWS/SeleccionarTableroRequest" message="tns:SeleccionarTablero" />
      <output wsam:Action="http://webservices/TableroWS/SeleccionarTableroResponse" message="tns:SeleccionarTableroResponse" />
    </operation>
  </portType>
  <binding name="TableroWSPortBinding" type="tns:TableroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AgregarTablero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarTablero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EditarTablero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SeleccionarTablero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TableroWS">
    <port name="TableroWSPort" binding="tns:TableroWSPortBinding">
      <soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/TableroWS" />
    </port>
  </service>
</definitions>