ProyectoFinal/ProyectoEscritorio/Connected Services/ModuloWS/ModuloWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices/" targetNamespace="http://webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarModulo" type="tns:AgregarModulo" />
  <xs:element name="AgregarModuloResponse" type="tns:AgregarModuloResponse" />
  <xs:element name="EditarModulo" type="tns:EditarModulo" />
  <xs:element name="EditarModuloResponse" type="tns:EditarModuloResponse" />
  <xs:element name="EliminarModulo" type="tns:EliminarModulo" />
  <xs:element name="EliminarModuloResponse" type="tns:EliminarModuloResponse" />
  <xs:element name="EliminarModuloVirtual" type="tns:EliminarModuloVirtual" />
  <xs:element name="EliminarModuloVirtualResponse" type="tns:EliminarModuloVirtualResponse" />
  <xs:element name="ObtenerModulosDeTablero" type="tns:ObtenerModulosDeTablero" />
  <xs:element name="ObtenerModulosDeTableroResponse" type="tns:ObtenerModulosDeTableroResponse" />
  <xs:element name="SeleccionarModulo" type="tns:SeleccionarModulo" />
  <xs:element name="SeleccionarModuloResponse" type="tns:SeleccionarModuloResponse" />
  <xs:complexType name="EliminarModulo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarModuloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarModuloVirtual">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarModuloVirtualResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerModulosDeTablero">
    <xs:sequence>
      <xs:element name="idTablero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerModulosDeTableroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:modulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modulo">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTablero" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarModulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="idTablero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarModuloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarModulo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeleccionarModuloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:modulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditarModulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditarModuloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>